.tmp_versions/baseband_usb_chr.mod
**.builtin
**.order
**.mod.c
**.o.d
**.o
**.cmd
**/generated/**
**.tmp_versions
**.tmp
**.a
**.dtb.dts
arch/arm/kernel/asm-offsets.s
kernel/bounds.s
scripts/mod/devicetable-offsets.s
usr/.initramfs_data.cpio.d
out/**
.config.old
.config
source
out/source
boot.img
**.dtsi.pre
**.dts.pre
build.log
.**.pre.yaml
.**.dtsi
.cache
compile_commands.json
bootlogs/**
